RewriteEngine on

# Redirect alla var
RewriteCond %{REQUEST_FILENAME} /users/*
RewriteCond var/$0 -F
RewriteRule ^(.*)$ /var/$1 [NC,L,R]

# Sul /var/users/...
RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -l [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule .+ - [L]

RewriteCond public/$0 -F
RewriteRule ^(.*)$ /public/$1 [NC,L]

RewriteRule ^.*$ /public/index.php [NC,L]

